---
rules:
  braces: enable
  brackets: enable
  colons: disable
  commas:
    level: warning
  comments:
    level: warning
  comments-indentation:
    level: warning
  document-end: disable
  document-start: enable
  empty-lines: enable
  empty-values: enable
  hyphens: enable
  indentation: enable
  key-duplicates: enable
  key-ordering: disable
  line-length: disable
  new-line-at-end-of-file: enable
  new-lines: enable
  octal-values: enable
  quoted-strings: disable
  trailing-spaces: enable
  truthy: disable
